<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('下单')"/>
</head>
<body>
<form action="" class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>类型</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option th:each="type:${types}" th:text="${type.typeName}" th:value="${type.typeId}"></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>联系人</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="createBy"
                               placeholder="请输入标题" th:value="${userName}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>联系电话</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" lay-verify="phone" class="layui-input" name="phone"
                               placeholder="请输入标题" th:value="${phone}" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>项目地址</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" lay-verify="required" class="layui-input" name="address"
                               placeholder="请输入标题" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">要求</label>
                    <div class="layui-input-block">
                       <textarea class="layui-textarea" name="comment"
                                 placeholder="请输入所需要求" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-update" lay-submit=""
                    type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;



        form.on('submit(user-update)', function (data) {


            $.ajax({
                url: '/system/web/order',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>