<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('类型列表')"/>
</head>
<body class="pear-container">

<div class="layui-card">
    <div class="layui-card-body">
        <table id="type-table" lay-filter="type-table"></table>
    </div>
</div>
</body>

<script id="order-toolbar" type="text/html">
    <button sec:authorize="hasPermission('/system/type/addType','sys:web:addType')"
            class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增种类
    </button>
</script>

<script id="order-bar" type="text/html">
    <button sec:authorize="hasPermission('/system/type/editTyper','sys:web:editType')"
            class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button sec:authorize="hasPermission('/system/type/removeType','sys:web:removeType')"
            class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script id="isShow" type="text/html">
    <input type="checkbox" name="isShow" value="{{d.typeId}}" lay-skin="switch" lay-text="展示|隐藏"
           lay-filter="isShow" {{d.isShow== '1' ? 'checked' : '' }} >
</script>

<script id="type-editDate" type="text/html">
    {{layui.util.toDateString(d.createDate,  "yyyy-MM-dd HH:mm:ss")}}
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;

        let MODULE_PATH = "/system/type/";

        let cols = [
            [
                {title: '类型名', field: 'typeName', align: 'center', width: 180},
                {title: '是否首页展示', field: 'isShow', align: 'center', templet: '#isShow'},
                {title: '创建人', field: 'realName', align: 'center'},
                {title: '上次修改时间', field: 'editDate', align: 'center',templet:'#type-editDate' },
                {title: '操作', toolbar: '#order-bar', align: 'center', width: 155}
            ]
        ]

        table.render({
            elem: '#type-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#order-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(type-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } 
        });

        table.on('toolbar(type-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });

        form.on('submit(order-query)', function (data) {
            table.reload('type-table', {where: data.field})
            return false;
        });

        form.on('switch(isShow)', function (obj) {
            let operate;
            if (obj.elem.checked) {
                operate = "1";
            } else {
                operate = "0";
            }
            let loading = layer.load()
            $.ajax({
                url: '/system/type/typeIsShow/' + operate,
                data: JSON.stringify({typeId: this.value}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading);
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000});
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
        });
        form.on('switch(isFinish)', function (obj) {
            let operate;
            if (obj.elem.checked) {
                operate = "1";
            } else {
                operate = "0";
            }
            let loading = layer.load()
            $.ajax({
                url: '/system/type/orderIsFinish/' + operate,
                data: JSON.stringify({typeId: this.value}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading);
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000});
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'getOrder'
            });
        }
        window.remove = function (obj) {
            layer.confirm('确定要删除该项目吗', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['typeId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            popup.success(result.msg, function () {
                                obj.del();
                            });
                        } else {
                            popup.failure(result.msg);
                        }
                    }
                })
            });
        }

        window.progress = function (obj) {
            layer.open({
                type: 2,
                title: '项目进度',
                shade: 0.1,
                area: ['400px', '600px'],
                content: MODULE_PATH + 'getOrderProgress/' + obj.data["typeId"]
            });
        }



        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'getEditOrdersPage/' + obj.data['typeId']
            });
        }



        window.refresh = function () {
            table.reload('role-table');
        }
    })
</script>
</html>