<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('订单列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="projectName" placeholder="" type="text">
                </div>
                <label class="layui-form-label">项目负责人</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="executeBy" placeholder="" type="text">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="order-query" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="pear-btn pear-btn-md" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="order-table" lay-filter="order-table"></table>
    </div>
</div>
</body>

<script id="order-toolbar" type="text/html">
    <button sec:authorize="hasPermission('/system/web/order','sys:web:order')"
            class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>

<script id="order-bar" type="text/html">
    <button sec:authorize="hasPermission('/system/web/order','sys:web:order')"
            class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button sec:authorize="hasPermission('/system/web/order','sys:web:order')"
            class="pear-btn pear-btn-warming pear-btn-sm" lay-event="progress"><i
            class="layui-icon layui-icon-vercode"></i>
    </button>
    <button sec:authorize="hasPermission('/system/web/order','sys:web:order')"
            class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script id="isNew" type="text/html">
    <input type="checkbox" name="enable" value="{{d.orderId}}" lay-skin="switch" lay-text="已联系|未联系"
           lay-filter="isNew" {{d.isNew== '1' ? 'checked' : '' }} >
</script>

<script id="order-createDate" type="text/html">
    {{layui.util.toDateString(d.createDate,  "yyyy-MM-dd HH:mm:ss")}}
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;

        let MODULE_PATH = "/system/web/";

        let cols = [
            [
                {title: '项目名', field: 'projectName', align: 'center', width: 180},
                {title: '类型', field: 'typeName', align: 'center'},
                {title: '主题', field: 'subject', align: 'center'},
                {title: '是否已经联系', field: 'isNew', align: 'center', templet: '#isNew'},
                {title: '联系人', field: 'contactPerson', align: 'center'},
                {title: '负责人', field: 'realName', align: 'center'},
                {title: '创建时间', field: 'createDate', align: 'center',templet:'#order-createDate' },
                {title: '操作', toolbar: '#order-bar', align: 'center', width: 155}
            ]
        ]

        table.render({
            elem: '#order-table',
            url: MODULE_PATH + 'order/data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#order-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(order-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'progress') {
                window.progress(obj);
            }
        });

        table.on('toolbar(order-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });

        form.on('submit(order-query)', function (data) {
            table.reload('order-table', {where: data.field})
            return false;
        });

        form.on('switch(isNew)', function (obj) {
            let operate;
            if (obj.elem.checked) {
                operate = "1";
            } else {
                operate = "0";
            }
            let loading = layer.load()
            $.ajax({
                url: '/system/web/orderIsNew/' + operate,
                data: JSON.stringify({orderId: this.value}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading);
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000});
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'getOrder'
            });
        }
        window.remove = function (obj) {
            layer.confirm('确定要删除该项目吗', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['orderId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            popup.success(result.msg, function () {
                                obj.del();
                            });
                        } else {
                            popup.failure(result.msg);
                        }
                    }
                })
            });
        }

        window.progress = function (obj) {
            layer.open({
                type: 2,
                title: '项目进度',
                shade: 0.1,
                area: ['400px', '600px'],
                content: MODULE_PATH + 'getOrderProgress/' + obj.data["orderId"]
            });
        }



        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'getEditOrdersPage/' + obj.data['orderId']
            });
        }



        window.refresh = function () {
            table.reload('role-table');
        }
    })
</script>
</html>